<div
  class="modal can-close"
  aria-live="polite"
  style="display: none;"
  id="<%= modal[:id] %>"
>
  <div class="modal-container" role="dialog"  aria-labelledby="<%= modal[:id] %>-heading" aria-describedby="<%= modal[:id] %>-text">
    <button class="button--light button--close close-message" disabled>
      <span class="material-symbols-rounded">close</span><span class="visually-hidden">Close</span>
    </button>
    <% if modal[:state] %>
      <div class="modal-icon state-<%= modal[:state] %>">
        <span class="material-symbols-rounded">warning</span>
      </div>
    <% end %>
    <div class="modal-content owl">
      <h3 id="<%= modal[:id] %>-heading"><%= modal[:content][:heading] %></h3>
      <p id="<%= modal[:id] %>-text"><%= modal[:content][:text] %></p>
    </div>
    <% if modal[:button] %>
      <div class="modal-buttons">
        <button class="button--light close-message" disabled>
          Cancel
        </button>
        <button class="button<% if modal[:state] %>--<%= modal[:state] %><% end %>" data-js-modal-button="<%= modal[:id] %>" disabled>
          <%= modal[:button] %>
        </button>
      </div>
    <% end %>
  </div>
</div>
