<div class="owl narrow-content">
  <% if patron.in_alma? %>
    <p>You can update your name and address at <a href="https://wolverineaccess.umich.edu/task/all/campus-personal-info">Wolverine Access</a>.</p>

    <p>To change document delivery preferences, visit your <a href="https://ill.lib.umich.edu/illiad/ChangeSite/ChangeSite.asp">interlibrary loan account</a>.</p>

    <div class="responsive-table">
      <table>
        <tr>
          <th scope="row">
            Full name
          </th>
          <td>
            <span aria-hidden="true">Full name:</span>
            <%= patron.full_name %>
          </td>
        </tr>
        <tr>
          <th scope="row">
            Email
          </th>
          <td>
            <span aria-hidden="true">Email:</span>
            <%= patron.email_address %>
          </td>
        </tr>
        <% if patron.in_illiad? %>
        <tr>
          <th scope="row">
            Document Delivery Location
          </th>
          <td>
            <span aria-hidden="true">Document Delivery Location:</span>
            <%= patron.local_document_delivery_location %>
          </td>
        <tr>
        <% end %>
      </table>
    </div>

    <form class="owl" method="post" action="/sms">
      <h2>Text Notifications</h2>

      <p>Add a phone number to receive text notifications on the status of your request and loans. Special collections requests are not included. Message and data rates may apply.</p>

      <input type="checkbox" class="toggle-switch visually-hidden" id="text-notifications" name="text-notifications" <% if patron.sms_number? %>checked<% end%>>
      <label class="toggle-switch-label" for="text-notifications">
        <div class="toggle"></div>
        <span>You wish to receive text notifications</span>
      </label>

      <div class="sms-number-container">
        <label class="text-notifications-label" for="sms-number">
          Phone number
        </label>
        <input
          type="tel"
          name="sms-number"
          id="sms-number"
          value="<%= patron.sms_number %>"
          pattern="\(\d{3}\) \d{3}-\d{4}"
          aria-describedby="sms-number-description"
          autocomplete="on"
        />
        <div id="sms-number-description" class="input-description">
          <m-icon name="info"></m-icon><span>Phone number must be 10 digits. Example: (123) 456-7890.</span>
        </div>
      </div>

      <button>Update notification preferences</button>
    </form>
  <% end %>

  <form class="owl" method="post" action="/settings/history">
    <h2>Checkout History</h2>
    <%=patron.circulation_history_text%>

    <fieldset class="owl">
      <legend class="visually-hidden">Do you wish to record your checkout history?</legend>
      <div class="radio-option">
        <input 
          type="radio" 
          name="retain_history" 
          class="visually-hidden"
          id="opt-in" 
          value="true" 
          <% if patron.retain_history? %>checked<% end %>
        >
        <label for="opt-in">
          <m-icon name="radio-button-checked"></m-icon>
          <m-icon name="radio-button-unchecked"></m-icon>
          <span>Yes, record my checkout history.</span>
        </label>
      </div>
      <div class="radio-option">
        <input 
          type="radio" 
          name="retain_history"
          class="visually-hidden" 
          id="opt-out" 
          value="false" 
          <% if !patron.retain_history? %>checked<% end %>
        >
        <label for="opt-out">
          <m-icon name="radio-button-checked"></m-icon>
          <m-icon name="radio-button-unchecked"></m-icon>
          <span>No, do not record my checkout history.</span>
        </label>
      </div>
    </fieldset>

    <p>If you’d like to make a copy of your checkout history up to this point, you can download it to your device in a spreadsheet format (CSV file).</p>
    <a class="button button--light" href="/past-activity/u-m-library/download.csv" style="display: inline-block;">Download your checkout history</a>

    <button id="update-history" data-js-modal="delete-history" disabled>Update history preferences</button>

    <%= 
      erb :'settings/_modal',
      locals: {
        modal: {
          id: 'delete-history',
          state: 'caution',
          content: {
            heading: 'Delete checkout history',
            text: 'Once you opt out, your previous checkout history is deleted and cannot be recovered, even if you opt back in later.'
          },
          button: 'Delete history'
        }
      }
    %>
  </form>
</div>
