<%= erb :horizontal_nav %>

<% if document_delivery.count == 0 %>

<%= erb :loans_empty_state %>

<% elsif %>

<div class="table-container">
<table>
  <caption>
    <div class="loan-caption-inner-layout">
      <p>Showing <strong><%= document_delivery.count %></strong> items</p>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th>Requested</th>
      <th>Expires</th>
    </tr>
  </thead>
  <tbody>
    <% document_delivery.each do |delivery| %>
      <tr>
        <td>
          <a href="<%= delivery.illiad_url %>"><%= delivery.title %></a>
          <span>&#183; <%= delivery.author %></span>
        </td>
        <td>
          <%= delivery.creation_date %>
        </td>
        <td>
          <%= delivery.expiration_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>
