<% if document_delivery.count == 0 %>

<%= erb :loans_empty_state %>

<% elsif %>

<div class="table-container">
<table>
  <caption>
    <div class="loan-caption-inner-layout">
      <p>Showing <strong><%= document_delivery.count %></strong> <%= document_delivery.item_text %></p>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th style="width: 9rem;">Expires</th>
      <th style="width: 6rem;">Action</th>
    </tr>
  </thead>
  <tbody>
    <% document_delivery.each do |delivery| %>
      <tr>
        <td>
          <a href="<%= delivery.url_transaction %>"><%= delivery.title %></a>
          <span>&#183; <%= delivery.author %></span>
        </td>
        <td>
          <%= delivery.expiration_date %>
        </td>
        <td>
          <% if delivery.renewable? %>
            <a href="<%= delivery.url_request_renewal %>">Request Renewal</a>
          <% else %>
            <p>Not eligible for renewal</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>
