<%
  empty_state = Entities::Pages.page(request.path_info).empty_state
%>

<section class="empty-state-container">
  <div class="empty-state-content owl">
    <<%=empty_state.heading_tag%> class="h3">
      <%=empty_state.heading%>
    </<%=empty_state.heading_tag%>>
    <p><%=empty_state.message%></p>
  </div>

  <div class="empty-state-image">
    <%=empty_state.image%>
  </div>
</section>
