<h1>Fines & Fees</h1>

<p>Fines are issued for overdue items from Askwith Media Library, overdue Course Reserve materials, overdue recalled items, and lost or damaged items.</p>

<% if fines.count == 0 %>

<%= erb :empty_state %>

<% elsif %>
  <form action="/fines-and-fees/pay" method="post">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Select</th>
            <th>Title & Author</th>
            <th>Status</th>
            <th>Fine</th>
          </tr>
        </thead>
        <tbody>
        <% fines.each_with_index do |fine,index| %>
          <tr>
            <td><input type="checkbox" name="fines[<%=index%>]" value="<%=fine.id%>" id="<%=fine.id%>"></td>
            <td><%= fine.title %></td>
            <td><%= fine.type %></td>
            <td><%= fine.balance %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>


    <p>You have a total of <strong>$<%=fines.total_sum_in_dollars%></strong> fines due.</p>

<% end %>

<p><strong>Payments made are non-refundable</strong>. If you have questions or would like to contest a fine, please contact Hatcher Graduate Circulation before making any payments. Telephone: <a href="tel:734-764-0401">734-764-0401</a>. Email: <a href="glcirc@umich.edu">glcirc@umich.edu</a>. <a href="https://lib.umich.edu/find-borrow-request/borrow-and-return/reminders-and-overdue-items">Read more about fines</a>.</p>

<% if fines.count > 0 %>
  <button type="submit">Pay fines</button>
</form>
<% end %>
