<h1>Welcome, <%= patron.full_name %></h1>

<!--
  Could this data come from back-end?

  Maybe some configured data related to side navigation
  and homepage cards could be grouped? Flag navigation
  elements that should be these overview cards and filter
  them to this view, or something.
-->
<% overview_cards = [
  {
    label: 'Current Checkouts',
    to: '/current-checkouts',
    description: "View items that you have checked out and check their dates.",
    icon: "book",
    color: "teal"
  },
  {
    label: 'Pending Requests',
    to: '/pending-requests',
    description: "See a list of library items on hold or requested for recall.",
    icon: "date-range",
    color: "orange"
  },
  {
    label: "Past Activity",
    to: "/past-activity",
    description: "Insert a brief description here. Mention U-M Library checkouts, ILL, and Special Collections",
    icon: "history",
    color: "pink"
  },
  {
    label: 'Fines & fees',
    to: '/fines-and-fees',
    description: "Fines are issues for overdue, lost, or damaged items.",
    icon: "attach-money",
    color: "indigo"
  },
  {
    label: 'Favorites',
    to: 'https://apps.lib.umich.edu/my-account/favorites',
    description: "View items that you have added to your favorites.",
    icon: "star",
    color: "green"
  },
  {
    label: 'Settings',
    to: '/settings',
    description: "View your contact information and edit notifications and other preferences.",
    icon: "settings",
    color: "maize"
  }
] %>

<ul class="overview-cards">
<% overview_cards.each do |card| %>
  <li>
    <a href="<%=card[:to]%>" class="overview-card">
      <div>
        <h2 class="overview-card-heading"><%=card[:label]%></h2>
        <p class="overview-card-description"><%=card[:description]%></p>
      </div>
      <div class="overview-card-icon-container" style="--overview-card-icon-background-color: var(--color-<%=card[:color]%>-100); --overview-card-icon-color: var(--color-<%=card[:color]%>-400);">
        <m-icon name="<%=card[:icon]%>"></m-icon>
      </div>
    </a>
  </li>
<% end %>
</ul>

<div class="message-callout">
  <div class="prose owl">
    <h2 style="margin-top: 0;">design & development options</h2>

    <form method="post" action="/session_switcher" class="prose owl">
      <label for="test-user">
        <p>Active user account:</p>
      </label>

      <select id="test-user" name="uniqname">
        <% test_users.each do |user| %>
          <option value="<%=user[:value]%>"><%=user[:label]%></option>
          <% end %>
      </select>

      <button>Save</button>
    </form>
  </div>
</div>