<%
  path = request.path_info
  
  if path.start_with?('/shelf/')
    section = 'Shelf'
    pages = [
      {
        label: 'Current loans',
        to: '/shelf/loans'
      },
      {
        label: 'Past loans',
        to: '/shelf/past-loans'
      },
      {
        label: 'Document delivery',
        to: '/shelf/document-delivery'
      },
    ]
  end

  if path.start_with?('/requests/')
    section = 'Requests'
    pages = [
      {
        label: 'U-M Library',
        to: '/requests/um-library'
      },
      {
        label: 'From Other Institutions (Interlibrary Loan)',
        to: '/requests/interlibrary-loan'
      },
    ]
  end

  label = pages.detect{|page| page[:to] == path}[:label]
%>

<h1 aria-hidden="true"><%=section%></h1>

<nav aria-labelledby="main-heading" class="horizontal-navigation-container">
  <h1 class="h2 horizontal-heading" id="main-heading"><span class="visually-hidden"><%=section%>: </span><%=label%></h1>

  <ul class="horizontal-navigation-list">
      <% pages.each do |page| %>
        <li>
          <a href="<%=page[:to]%>" class="<%= page[:to] == path ? 'active': '' %>" >
            <%=page[:label]%>
          </a>
        </li>
      <% end %>
  </ul>
</nav>
