<%= erb :horizontal_nav %>

<% if interlibrary_loan_requests.count == 0 %>

<%= erb :requests_empty_state %>

<% elsif %>

<div class="table-container">
<table>
  <caption>
    <div class="loan-caption-inner-layout">
      <p>Showing <strong><%= interlibrary_loan_requests.count %></strong> items</p>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th>Requested</th>
      <th>Expires</th>
    </tr>
  </thead>
  <tbody>
    <% interlibrary_loan_requests.each do |interlibrary_loan_request| %>
      <tr>
        <td>
          <a href="<%= interlibrary_loan_request.request_url %>"><%= interlibrary_loan_request.title %></a>
          <span>&#183; <%= interlibrary_loan_request.author %></span>
        </td>
        <td>
          <%= interlibrary_loan_request.request_date %>
        </td>
        <td>
          <%= interlibrary_loan_request.expiration_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>
