<% if interlibrary_loan_requests.count == 0 %>

<%= erb :empty_state %>

<% elsif %>

<div class="responsive-table">
<table>
  <caption>
    <div class="caption-flex">
      <p>Showing <strong><%= interlibrary_loan_requests.count %></strong> <%= interlibrary_loan_requests.item_text %></p>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th>Requested</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% interlibrary_loan_requests.each do |interlibrary_loan_request| %>
      <tr>
        <td>
          <%= erb :title_author, locals: {item: interlibrary_loan_request} %>
        </td>
        <td>
          <span aria-hidden="true">Requested:</span>
          <%= interlibrary_loan_request.creation_date %>
        </td>
        <td class="table-cell-action">
          <a href="<%= interlibrary_loan_request.url_cancel_request %>">Cancel Request</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>
