<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js',
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-TX44PM3');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0..1,200&icon_names=attach_money,book,close,date_range,history,home,info,keyboard_arrow_down,keyboard_arrow_left,keyboard_arrow_right,person,settings,warning" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@umich-lib/web@latest/umich-lib.css" rel="stylesheet"/>
    <link href="/bundles/index.css" rel="stylesheet" />

    <script type="module" src="https://cdn.jsdelivr.net/npm/@umich-lib/web@latest/dist/umich-lib/umich-lib.esm.js"></script>

    <%
      title = Navigation::Title.for(request.path_info)
      description = Navigation::Description.for(request.path_info)
    %>
    <title><%= title %> | University of Michigan Library</title>
    <meta name="description" content="<%= description %>"/>
    <meta name="version" content="<%=S.version%>">

    <meta name="theme-color" content="#ffcb05"/>

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon-180x180.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <meta property="og:title" content="<%= title %> | University of Michigan Library" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="https://account.lib.umich.edu/icon-512x512.png" />
    <meta property="og:image:alt" content="University of Michigan's Block M" />
    <meta property="og:url" content="https://account.lib.umich.edu/"/>
    <meta property="og:site_name" content="My Account" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@umichlibrary">
    <meta name="twitter:image" content="https://account.lib.umich.edu/icon-512x512.png" />
    <meta name="twitter:image:alt" content="University of Michigan's Block M" />

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TX44PM3"
        height="0"
        width="0"
        style="display: none; visibility: hidden;"
      ></iframe>
    </noscript>
    <section aria-label="Skip links" class="site-skip-links">
      <div class="site-skip-links_content layout prose">
        <ul>
          <li><a href="#maincontent">Skip to main content</a></li>
          <li><a href="#chat">Skip to Ask a Librarian chat</a></li>
        </ul>
      </div>
    </section>
    <m-universal-header></m-universal-header>
    <m-website-header name="Account">
      <%= erb :'layout/user_drop_down' %>
    </m-website-header>
    <%= erb :'layout/banner' %>
    <main class="layout site-layout">
      <%= erb :'layout/navigation' %>
      <article class="site-layout__center owl prose">
        <%= erb :'layout/horizontal_nav' %>
        <%= patron_styled_flash %>
        <%= yield %>
        <% if dev_login? %>
          <%= erb :development_users %>
        <% end %>
      </article>
    </main>
    <footer class="site-footer">
      <div class="site-footer__content">
        <div class="layout">
          <section class="owl">
            <h2>University of Michigan Library</h2>
            <address>913 S. University Avenue
            Ann Arbor, MI 48109-1190</address>
          </section>
          <section class="owl">
            <h2>Privacy</h2>
            <a href="https://lib.umich.edu/about-us/policies/library-privacy-statement">Library Privacy Statement</a>
          </section>
        </div>
      </div>
      <div class="site-footer__disclaimer">
        <section class="layout">
          <p>&copy; <%= Date.today.year %>, Regents of the University of Michigan</p>
          <p>Built with the <a href="http://design-system.lib.umich.edu">U-M Library Design System</a>.</p>
        </section>
      </div>
    </footer>
    <m-chat>
      <div id="chat" tabindex="-1"></div>
    </m-chat>
    <script src="/bundles/index.bundle.js"></script>
    <% if defined?(has_js)  %>
      <script src="/bundles/<%=request.js_filename%>.bundle.js"></script>
    <% end %>
  </body>
</html>
