<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://unpkg.com/@umich-lib/css@v1/dist/umich-lib.css"
      rel="stylesheet"
      />
    <link href='/bundles/index.css' rel="stylesheet" />
    <script
      type="module"
      src="https://unpkg.com/@umich-lib/components@v1/dist/umich-lib/umich-lib.esm.js"
      ></script>
    <script
      nomodule
      src="https://unpkg.com/@umich-lib/components@v1/dist/umich-lib/umich-lib.js"
      ></script>
    <title>Account | University of Michigan Library</title>
  </head>
  <body> 
    <m-universal-header></m-universal-header>
    <m-website-header name="Account">
      <%= erb :user_drop_down %>
    </m-website-header>
    <%= erb :banner %>
    <main class="layout site-layout">
      <%= erb :navigation %>
      <article class="site-layout__center owl prose">
        <%= patron_styled_flash %>

        <%= yield %>
        
        <% if dev_login? %>
          <%= erb :development_users %>
        <% end %>
      </article>
    </main>
    <footer class="site-footer">
      <div class="site-footer__content">
        <div class="layout">
          <section class="owl">
            <h2 class="m-details-xxx-small">University of Michigan Library</h2>
            <p>913 S. University Avenue<br>Ann Arbor, MI 48109-1190</p>
          </section>
        </div>
      </div>
      <div class="site-footer__disclaimer">
        <section class="layout">
          <p>&copy; <%= Date.today.year %>, Regents of the University of Michigan</p>
          <p>Built with the <a href="http://design-system.lib.umich.edu">U-M Library Design System</a>.</p>
        </section>
      </div>
    </footer>

    <m-chat></m-chat>
    <script src="/bundles/main.bundle.js"></script>
    <% if defined?(has_js)  %>
      <script src="/bundles/<%=request.js_filename%>.bundle.js"></script>
    <% end %>
  </body>
</html>
