<%= erb :horizontal_nav %>

<% if past_loans.count == 0 %>

<%= erb :empty_state %>

<% elsif %>

<table>
  <caption>Showing <%= past_loans.count %> <%= past_loans.item_text %></caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th>Checkout Date</th>
      <th>Return Date</th>
    </tr>
  </thead>
  <tbody>
    <% past_loans.each do |loan| %>
      <tr>
        <td>
          <a href="#"><%= loan.title %></a>
          <span>&#183; <%= loan.author %></span>
        </td>
        <td style="min-width: 25%;">
          <%= loan.checkout_date %>
        </td>
        <td style="min-width: 25%;">
          <%= loan.return_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= erb :pagination, locals: {pagination: past_loans.pagination, count: past_loans.count} %>
<% end %>
