<% if past_loans.count == 0 %>

<%= erb :empty_state %>

<% elsif %>

<table>
  <caption>
    <div class="loan-caption-inner-layout">
      <p>Showing <strong><%=past_loans.pagination.first%></strong> - <strong><%=past_loans.pagination.last%></strong> of <strong><%= past_loans.count %></strong> items</p>

      <div class="loan-controls">
    <%= erb :table_controls, locals: { table_controls: table_controls} %>
    <form method="get" action="/past-activity/u-m-library/download.csv">
   <button class = "button" type="submit">Download CSV</button>
</form>

    </div>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th style="width: 12rem;">Call Number</th>
      <th style="width: 10rem;">Checked Out</th>
      <th style="width: 9rem;">Returned</th>
    </tr>
  </thead>
  <tbody>
    <% past_loans.each do |loan| %>
      <tr>
        <td>
          <a href="#"><%= loan.title %></a>
          <span>&#183; <%= loan.author %></span>
        </td>
        <td>
          <%= loan.call_number %>
        </td>
        <td>
          <%= loan.checkout_date %>
        </td>
        <td>
          <%= loan.return_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= erb :pagination, locals: {pagination: past_loans.pagination, count: past_loans.count} %>
<% end %>
