<%= erb :horizontal_nav %>

<% if past_loans.count == 0 %>

<%= erb :empty_state %>

<% elsif %>

<table>
  <caption>Showing <%= past_loans.count %> items</caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th>Due date</th>
    </tr>
  </thead>
  <tbody>
    <% past_loans.each do |loan| %>
      <tr>
        <td>
          <a href="<%=loan.search_url%>"><%= loan.title %></a>
          <span>&#183; <%= loan.author %></span>
        </td>
        <td style="min-width: 25%;">
          <%= loan.due_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
