<% if receipt.valid? %>
  <p>Please review the details for this transaction.</p>
  <h2>Your details</h2>
  <address>
    <%= receipt.payer_name %></br>
    <%= receipt.email %></br>
    <%= receipt.street %></br>
    <%= receipt.city %>, <%= receipt.state %> <%= receipt.zip %>
  </address>
  <h2>Payment details</h2>
  <ul class="no-list-style">
    <li><strong>Confirmation number:</strong> <%= receipt.confirmationNumber %></li>
    <li><strong>Order number:</strong> <%= receipt.orderNumber %></li>
    <li><strong>Order description:</strong> <%= receipt.description %></li>
    <li><strong>Date:</strong> <%= receipt.date %></li>
    <li><strong>Account type:</strong> <%= receipt.type %></li>
    <li><strong>Amount paid:</strong> $<%= receipt.amount %></li>
    <li><strong>Remaining balance:</strong> $<%= receipt.balance %></li>
  </ul>
<% end %>
<p>If you have a question about your payment, please contact staff at the <a href="https://www.lib.umich.edu/locations-and-hours/hatcher-library/hatcher-north-information-services-desk">Hatcher North Information Services Desk</a> at <a href="mailto:glcirc@umich.edu">glcirc@umich.edu</a> or 734-764-0401.</p>
