<% if !session[:in_alma] || holds.count == 0 %>
  <section class="empty-state-container">
    <div class="empty-state-content owl">
      <%= HoldRequest.empty_state %>
    </div>
  </section>
<% else %>
<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Title & author</th>
      <th style="width: 9rem;">Pickup location</th>
      <th style="width: 8rem;">Requested</th>
      <th style="width: 7rem;">Expires</th>
      <th style="width: 6rem;">Action</th>
    </tr>
  </thead>
  <tbody>
    <% holds.each do |hold_request| %>
      <tr>
        <td>
          <%= erb :title_author, locals: {item: hold_request} %>
        </td>
        <td>
          <%= hold_request.pickup_location %>
          <% if !hold_request.status.empty? %>
            <span class="tag<%= hold_request.status_tag %>">
              <%= hold_request.status %>
            </span>
          <% end %>
        </td>
        <td>
          <%= hold_request.request_date %>
        </td>
        <td>
          <%= hold_request.request_date %>
        </td>
        <td>
          <button class="button--light" data-js-cancel="<%=hold_request.request_id%>" disabled>Cancel</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>

<% if illiad_patron.in_illiad? %>
  <h2>Local Document Delivery</h2>
  <p>Your Local Document Delivery pickup location is:</p>
  <address><%= illiad_patron.delivery_location %></address>
  <p>To change document delivery preferences, visit your <a href="https://ill.lib.umich.edu/illiad/ChangeSite/ChangeSite.asp">interlibrary loan account</a>.</p>
  <% if local_document_delivery.count == 0%>
    <section class="empty-state-container">
      <div class="empty-state-content owl">
        <%= PendingLocalDocumentDelivery.empty_state %>
      </div>
    </section>
  <% else %>
  <div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Title & author</th>
        <th style="width: 8rem;">Requested</th>
        <th style="width: 7rem;">Expires</th>
        <th style="width: 6rem;">Action</th>
      </tr>
    </thead>
    <tbody>
      <% local_document_delivery.each do |delivery_request| %>
        <tr>
          <td>
            <%= erb :title_author, locals: {item: delivery_request} %>
          </td>
          <td>
            <%= delivery_request.creation_date %>
          </td>
          <td>
            <%= delivery_request.expiration_date %>
          </td>
          <td>
            <a class="button--light" href="<%= delivery_request.url_cancel_request %>">Cancel</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  
  <% end %>
<% end %>

<% if session[:can_book] %> 
  <h2>Media</h2>
  <% if bookings.count == 0%>
  <section class="empty-state-container">
    <div class="empty-state-content owl">
      <%= BookingRequest.empty_state %>
    </div>
  </section>
  <% else %>
  <div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Title & author</th>
        <th style="width: 9rem;">Pickup location</th>
        <th style="width: 9rem;">Pickup date</th>
        <th style="width: 7rem;">Expires</th>
        <th style="width: 6rem;">Action</th>
      </tr>
    </thead>
    <tbody>
      <% bookings.each do |booking_request| %>
        <tr>
          <td>
            <%= erb :title_author, locals: {item: booking_request} %>
          <td>
            <%= booking_request.pickup_location %>
            <% if !booking_request.status.empty? %>
              <span class="tag<%= booking_request.status_tag %>">
                <%= booking_request.status %>
              </span>
            <% end %>
          </td>
          <td>
            <%= booking_request.booking_date %>
          </td>
          <td>
            <%= booking_request.booking_date %>
          </td>
          <td>
            <button class="button--light" data-js-cancel="<%=booking_request.request_id%>" disabled>Cancel</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  
  <% end %>
<% end %>
