<%= erb :horizontal_nav %>
<h3>Hold Requests</h4>
<% if holds.count == 0 %>

<%= erb :empty_state %>

<% elsif %>

<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Title & author</th>
      <th style="width: 9rem;">Pickup location</th>
      <th style="width: 9rem;">Request date</th>
      <th style="width: 6rem;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% holds.each do |hold_request| %>
      <tr>
        <td>
          <%= erb :title_author, locals: {item: hold_request} %>
        </td>
        <td>
          <%= hold_request.pickup_location %>
        </td>
        <td>
          <%= hold_request.request_date %>
        </td>
        <td>
          <button class="button--light" data-js-cancel="<%=hold_request.request_id%>" disabled>Cancel</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>
<% if session[:can_book] %>
<h3>Media Booking Requests</h3>
<% if bookings.count == 0 %>

<%= erb :empty_state %>

<% elsif %>

<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Title & author</th>
      <th style="width: 9rem;">Pickup location</th>
      <th style="width: 9rem;">Pickup date</th>
      <th style="width: 6rem;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% bookings.each do |booking_request| %>
      <tr>
        <td>
          <%= erb :title_author, locals: {item: booking_request} %>
        <td>
          <%= booking_request.pickup_location %>
        </td>
        <td>
          <%= booking_request.booking_date %>
        </td>
        <td>
          <button class="button--light" data-js-cancel="<%=booking_request.request_id%>" disabled>Cancel</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>
<% end %>
