<%= erb :horizontal_nav %>

<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Title & author</th>
      <th style="width: 9rem;">Pickup location</th>
      <th style="width: 9rem;">Request date</th>
      <th style="width: 6rem;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% requests.each do |request| %>
      <tr>
        <td>
          <a href="<%=request.search_url%>"><%= request.title %></a>
          <span>&#183; <%= request.author %></span>
        </td>
        <td>
          <%= request.pickup_location %>
        </td>
        <td>
          <%= request.request_date %>
        </td>
        <td>
          <button class="button--light" data-js-cancel="<%=request.request_id%>" disabled>Cancel</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
