<%= erb :horizontal_nav %>

<% if loans.count == 0 %>

<%= erb :loans_empty_state %>

<% elsif %>

<%= erb :message_callout %>

<!--
<div class="message message--error" style="margin-bottom: var(--space-large);">
  <p><strong>We had an issue renewing the following titles:</strong></p>

  <ul>
    <li>The end of early music : a period performer's history of music for the twenty-first century / Bruce Haynes. </li>
    <li>Short history of Georgia. </li>
    <li>Creative design in wall hangings; weaving patterns based on primitive and medieval art.</li>
  </ul>

  <p>Try "Renew all" again. If you still are having trouble then contact Ask a Librarian.</p>
</div>
-->

<div class="table-container">

<table>
  <caption>
    <div class="loan-caption-inner-layout">
      <p>Showing <strong><%=loans.pagination.first%></strong> - <strong><%=loans.pagination.last%></strong> of <strong><%= loans.count %></strong> items</p>

      <div class="loan-controls">
        <form>
          <label>
            <span>Sort by</span>
            <select name="sort" data-js-submit>
              <option value="due-asc" selected>Due date: ascending</option>
              <option value="due-desc">Due date: descending</option>
              <option value="title-asc">Title: ascending</option>
              <option value="title-desc">Title: descending</option>
            </select>
          </label>

          <label>
            <span>Show</span>
            <select name="show" data-js-submit>
              <option value="10">10 items</option>
              <option value="25">25 items</option>
              <option value="30">50 items</option>
            </select>
          </label>
        </form>
        <form action="/shelf/loans" method="post">
          <input type="hidden" name="renew-all" value="" />
          <button class="button button--light"><m-icon name="autorenew"></m-icon><span style="padding-left: var(--space-xx-small);">Renew all</button>
        </form>
      </div>
    </div>
  </caption>
  <thead>
    <tr>
      <th style="width: 66%;">Title & author</th>
      <th style="width: 9rem;">Due date</th>
      <th style="width: 5rem;">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% loans.each do |loan| %>
      <tr>
        <td>
          <a href="<%=loan.search_url%>"><%= loan.title %></a>
          <span>&#183; <%= loan.author %></span>
        </td>
        <td>
          <%= loan.due_date %>
          <% if loan.message? %>
            <span class="tag--<%=loan.message_status%>"><%= loan.message%></span>
          <% end %>
        </td>
        <td>
          <% if loan.renewable? %>
          <form action="/renew-loan" method="post">
            <input type="hidden" name="loan_id" value="<%=loan.loan_id%>" />
            <button class="button--light">Renew</button>
          </form>
          <% else %>
          <p>Not eligible for renewal</p>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= erb :pagination, locals: {pagination: loans.pagination, count: loans.count} %>

<% end %>
