<%= erb :horizontal_nav %>

<% if loans.count == 0 %>

<%= erb :loans_empty_state %>

<% elsif %>

  <% unless message.nil? %>
    <%= erb :message_callout, locals: {message: message} %>
  <% end %>

<div class="progress-container" aria-live="polite">
  <h3 class="progress-heading">Step 1 of 3</h3>

  <!--
    TODO:

    - [x] Make accessible: https://accessible-app.com/pattern/vue/progress
    - [ ] Implement data with JavaScript
  -->
  <label>
    <span class="progress-label-text">Fetching loans...</span>
    <progress 
      id="renew-all-progress" 
      value="42"
      aria-valuenow="42"
      aria-valuemin="0"
      aria-valuemax="100" 
      max="100"
      role="progressbar"
    >42%</progress>
  </label>
  <p class="progress-percent">42% complete</p>
</div>

<div class="table-container">

<table>
  <caption>
    <div class="loan-caption-inner-layout">
      <p>Showing <strong><%=loans.pagination.first%></strong> - <strong><%=loans.pagination.last%></strong> of <strong><%= loans.count %></strong> items</p>

      <div class="loan-controls">
        <form method="post" action="/loan-controls">
          <label>
            <span>Sort by</span>
            <select name="sort" data-js-submit>
              <% loan_controls.sort.each do |sort| %>
                <option value="<%=sort.value%>" <%=sort.selected%>><%=sort.text%></option>
              <% end %>
            </select>
          </label>

          <label>
            <span>Show</span>
            <select name="show" data-js-submit>
              <% loan_controls.show.each do |show| %>
                <option value="<%=show.value%>" <%=show.selected%>><%=show.text%></option>
              <% end %>
            </select>
          </label>

          <noscript>
            <button class="button">Apply</button>
          </noscript>
        </form>
        <form action="/current-checkouts/checkouts" method="post" data-js-renew-all>
          <input type="hidden" name="renew-all" value="" />
          <button class="button" data-js-loading><m-icon name="autorenew"></m-icon><span style="padding-left: var(--space-xx-small);">Renew all</button>
        </form>
      </div>
    </div>
  </caption>
  <thead>
    <tr>
      <th style="width: 66%;">Title & author</th>
      <th style="width: 9rem;">Due date</th>
      <th style="width: 5rem;">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% loans.each do |loan| %>
      <tr>
        <td>
          <a href="<%=loan.search_url%>"><%= loan.title %></a>
          <span>&#183; <%= loan.author %></span>
        </td>
        <td>
          <%= loan.due_date %>
        </td>
        <td>
          <% if loan.renewable? %>
          <form action="/renew-loan" data-js-renew method="post">
            <input type="hidden" name="loan_id" value="<%=loan.loan_id%>" />
            <button class="button--light">Renew</button>
          </form>
          <% else %>
          <p>Not eligible for renewal</p>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= erb :pagination, locals: {pagination: loans.pagination, count: loans.count} %>

<% end %>
