<h1>Shelf</h1>

<%= erb :shelf_navigation %>

<% if loans.count == 0 %>

<%= erb :loans_empty_state %>

<% elsif %>

<h2>Current loans</h2>

<table>
  <caption>Showing <%= loans.count %> items</caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th>Due date</th>
    </tr>
  </thead>
  <tbody>
    <% loans.each do |loan| %>
      <tr>
        <td>
          <a href="<%=loan.search_url%>"><%= loan.title %></a>
          <span>&#183; <%= loan.author %></span>
        </td>
        <td style="min-width: 25%;">
          <%= loan.due_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>