<form method="post" action="/table-controls">
  <label>
    <span>Sort by</span>
    <select name="sort" data-js-submit>
      <% table_controls.sort.each do |sort| %>
        <option value="<%=sort.value%>" <%=sort.selected%>><%=sort.text%></option>
      <% end %>
    </select>
  </label>

  <label>
    <span>Show</span>
    <select name="show" data-js-submit>
      <% table_controls.show.each do |show| %>
        <option value="<%=show.value%>" <%=show.selected%>><%=show.text%></option>
      <% end %>
    </select>
  </label>

  <noscript>
    <button class="button">Apply</button>
  </noscript>
</form>
