<% if fines.count == 0 %>

  <%= erb :empty_state %>

<% elsif %>
  <div class="owl narrow-content">
    <p>You are charged fines for <a href="https://lib.umich.edu/find-borrow-request/borrow-and-return/reminders-and-overdue-items/lost-items">lost items</a></p>
    
    <div class="responsive-table">
      <table>
        <thead>
          <tr>
            <th>Title &amp; Author</th>
            <th>Type</th>
            <th>Fine</th>
          </tr>
        </thead>
        <tbody>
        <% fines.each_with_index do |fine,index| %>
          <tr>
            <td><%= fine.title %></td>
            <td>
              <span aria-hidden="true">Type:</span>
              <%= fine.type %>
            </td>
            <td>
              <span aria-hidden="true">Fine:</span>
              <span style="color: var(--color-pink-500);">$<%= fine.balance %></span>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <form action="/fines-and-fees/pay" method="post" class="owl">
      <p>Your total due is <span class="strong">$<%=fines.total_sum_in_dollars%></span></p>

      <h2>How much would you like to pay today?</h2>

      <fieldset class="owl">
        <legend class="visually-hidden">Pick a payment amount option</legend>
        <div class="radio-option">
          <input
            type="radio"
            name="pay_in_full"
            class="visually-hidden"
            id="pay-all"
            value="true"
          >
          <label for="pay-all">
            <span class="material-symbols-sharp radio-button-checked" aria-hidden="true">radio_button_checked</span>
            <span class="material-symbols-sharp radio-button-unchecked" aria-hidden="true">radio_button_unchecked</span>
            <span>Pay full amount (<span class="strong">$<%=fines.total_sum_in_dollars%></span>)</span>
          </label>
        </div>
        <div class="radio-option">
          <input
            type="radio"
            name="pay_in_full"
            class="visually-hidden"
            id="pay-some"
            value="false"
          >
          <label for="pay-some">
            <span class="material-symbols-sharp radio-button-checked" aria-hidden="true">radio_button_checked</span>
            <span class="material-symbols-sharp radio-button-unchecked" aria-hidden="true">radio_button_unchecked</span>
            <span>Pay partial amount</span>
          </label>
          <div id="pay-some-amount" class="radio-option-extra">
            <span>$</span>
            <input
              type="number"
              min="0.00"
              max="<%=fines.total_sum_in_dollars%>"
              step="0.01"
              pattern="^\d+\.\d{2}$"
              value="0.00"
              name="partial_amount"
              for="pay-some"
              aria-label="Amount you wish to pay"
              aria-describedby="payment-description"
              autocomplete="off"
            >
            <div id="payment-description" class="input-description">
              <span class="material-symbols-rounded" aria-hidden="true">info</span>
              <span>Payment amount must include cents. Example:&nbsp;25.00</span>
            </div>
          </div>
        </div>
      </fieldset>

      <button type="submit">Pay fines</button>

      <p><span class="strong">Payments made are non-refundable</span>.</p>

      <p>If you have a question about your account or would like to contest a fine, please contact us at the <a href="https://lib.umich.edu/locations-and-hours/hatcher-library/hatcher-north-information-services-desk">Hatcher North Information Services Desk</a> before making payments.</p>
    </form>
  </div>
<% end %>
