<% if receipt.successful? %>
  <p>Please review the details for this transaction.</p>
  <h2>Your details</h2>
  <address><%= receipt.payer_name %>
    <%= receipt.email %>
    <%= receipt.street %>
    <%= receipt.city %>, <%= receipt.state %> <%= receipt.zip %></address>
  <h2>Payment details</h2>
  <ul class="no-list-style">
    <li><span class="strong">Confirmation number:</span> <%= receipt.confirmationNumber %></li>
    <li><span class="strong">Order number:</span> <%= receipt.order_number %></li>
    <li><span class="strong">Order description:</span> <%= receipt.description %></li>
    <li><span class="strong">Date:</span> <%= receipt.date %></li>
    <li><span class="strong">Account type:</span> <%= receipt.type %></li>
    <li><span class="strong">Amount paid:</span> $<%= receipt.amount %></li>
    <li><span class="strong">Remaining balance:</span> $<%= receipt.balance %></li>
  </ul>
<% end %>
<p>If you have a question about your payment, please contact staff at the <a href="https://www.lib.umich.edu/locations-and-hours/hatcher-library/hatcher-north-information-services-desk">Hatcher North Information Services Desk</a> at <a href="mailto:glcirc@umich.edu">glcirc@umich.edu</a> or 734-764-0401.</p>
