<% if interlibrary_loans.count == 0 %>

<%= erb :empty_state %>

<% elsif %>

<div class="responsive-table">
<table>
  <caption>
    <div class="caption-flex">
      <p>Showing <span class="strong"><%= interlibrary_loans.pagination.first %></span> - <span class="strong"><%= interlibrary_loans.pagination.last %></span> of <span class="strong"><%= interlibrary_loans.count %></span> <%= interlibrary_loans.item_text %></p>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Title &amp; author</th>
      <th>Due date</th>
      <th>Eligible for renewal</th>
    </tr>
  </thead>
  <tbody>
    <% interlibrary_loans.each do |interlibrary_loan| %>
      <tr>
        <td>
          <%= erb :'/components/title_author', locals: {item: interlibrary_loan} %>
        </td>
        <td>
          <span aria-hidden="true">Due date:</span>
          <%= interlibrary_loan.expiration_date %>
          <% if !interlibrary_loan.due_status&.empty? %>
            <span class="tag--<%= interlibrary_loan.due_status == 'Overdue' ? 'fail' : 'warning' %>">
              <%= interlibrary_loan.due_status %>
            </span>
          <% end %>
        </td>
        <td class="table-cell-action">
          <%= interlibrary_loan.renew_text %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= erb :'components/pagination', locals: {pagination: interlibrary_loans.pagination, count: interlibrary_loans.count} %>

<% end %>
