<% if document_delivery.count == 0 %>

<%= erb :empty_state %>

<% elsif %>

<div class="responsive-table">
<table>
  <caption>
    <div class="caption-flex">
      <p>Showing <strong><%= document_delivery.count %></strong> <%= document_delivery.item_text %></p>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th>Expires</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% document_delivery.each do |delivery| %>
      <tr>
        <td>
          <a href="<%= delivery.url_transaction %>"><%= delivery.title %></a>
          <span>&#183; <%= delivery.author %></span>
        </td>
        <td>
          <span aria-hidden="true">Expires:</span>
          <%= delivery.expiration_date %>
        </td>
        <td class="table-cell-action">
          <% if delivery.renewable? %>
            <a href="<%= delivery.url_request_renewal %>">Request Renewal</a>
          <% else %>
            <p>Not eligible for renewal</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% end %>
