<% if loans.count == 0 %>

<%= erb :empty_state %>

<% elsif %>

<% unless message.nil? %>
  <%= erb :'current-checkouts/_message-callout', locals: {message: message} %>
<% end %>


<div class="responsive-table">

<table>
  <caption>
    <div class="caption-flex">
      <p>Showing <span class="strong"><%=loans.pagination.first%></span> - <span class="strong"><%=loans.pagination.last%></span> of <span class="strong"><%= loans.count %></span> <%= loans.item_text %></p>
      <div class="caption-flex loan-controls">
        <%= erb :'components/table_controls', locals: { table_controls: loan_controls} %>
      </div>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th>Barcode</th>
      <th>Due date</th>
    </tr>
  </thead>

  <tbody>
    <% loans.each do |loan| %>
      <tr>
        <td>
          <%= erb :'components/title_author', locals: {item: loan} %>
        </td>
        <td>
          <span aria-hidden="true">Barcode:</span>
          <%= loan.barcode %>
        </td>
        <td data-loan-due-date="<%=loan.loan_id%>">
          <span aria-hidden="true">Due date:</span>
          <%= loan.due_date %>
          <% if loan.due_status.any? %>
            <span class="<%=loan.due_status.tag %>">
              <%= loan.due_status %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= erb :'components/pagination', locals: {pagination: loans.pagination, count: loans.count} %>

<% end %>
