<% if loans.count == 0 %>

<%= erb :empty_state %>

<% elsif %>

<m-callout subtle icon>
  <p>Items checked out prior to <time datetime="2021-07-15">July 15, 2021</time> might not display details such as volume or edition. If you have a question or need help with renewals, please contact the <a href="https://lib.umich.edu/locations-and-hours/hatcher-library/hatcher-north-information-services-desk">Hatcher North Information Services Desk</a>.</p>
</m-callout>

<% unless message.nil? %>
  <%= erb :'current-checkouts/_message-callout', locals: {message: message} %>
<% end %>

<div class="progress-bar" aria-live="polite" style="display: none;">
  <h3 id="progress-label">Renewing loans...</h3>
  <progress
    value="0"
    max="<%= loans.count %>"
    aria-labelledby="progress-label"
    aria-describedby="progress-description"
    aria-busy="false"
  ></progress>
  <p id="progress-description">
    <span class="renewed-loans">0</span> of <span class="total-loans"><%= loans.count %></span> renewed
  </p>
</div>

<div class="responsive-table">

<table>
  <caption>
    <div class="caption-flex">
      <p>Showing <span class="strong"><%=loans.pagination.first%></span> - <span class="strong"><%=loans.pagination.last%></span> of <span class="strong"><%= loans.count %></span> <%= loans.item_text %></p>
      <div class="caption-flex loan-controls">
        <%= erb :'components/table_controls', locals: { table_controls: loan_controls} %>
        <div class="renew-all">
          <button class="button" data-js-renew-all="<%= loans.count %>" disabled>
            <span class="material-symbols-rounded">autorenew</span> <span>Renew all eligible</span>
          </button>
        </div>
      </div>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th>Barcode</th>
      <th>Due date</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% loans.each do |loan| %>
      <tr>
        <td>
          <%= erb :'components/title_author', locals: {item: loan} %>
        </td>
        <td>
          <span aria-hidden="true">Barcode:</span>
          <%= loan.barcode %>
        </td>
        <td data-loan-due-date="<%=loan.loan_id%>">
          <span aria-hidden="true">Due date:</span>
          <%= loan.due_date %>
          <% if !loan.due_status.empty? %>
            <span class="tag--<%= loan.due_status == 'Overdue' ? 'fail' : 'warning' %>">
              <%= loan.due_status %>
            </span>
          <% end %>
        </td>
        <td class="table-cell-action">
          <% if loan.renewable? %>
            <button class="button--light" data-js-renew="<%=loan.loan_id%>" disabled>Renew</button>
          <% else %>
            <p>Not eligible for renewal</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= erb :'components/pagination', locals: {pagination: loans.pagination, count: loans.count} %>

<% end %>
