<%
  page = Entities::Pages.page(request.path_info)
  horizontal_nav = Navigation::HorizontalNav.for(page)
  home = Navigation.home
%>

<% if home != page %>
  <p class="breadcrumbs">
    <m-icon name="keyboard-arrow-left"></m-icon>
    <a href=<%=home.path%>>Back to <%=home.title%></a>
  </p>
<% end %>

<% if horizontal_nav.nil?%>

  <h1><%=page.title%></h1>

<% else %>

  <h1 id="main-heading"><%=horizontal_nav.section%><span class="visually-hidden">: <%=horizontal_nav.title%></span></h1>

  <nav aria-labelledby="main-heading" class="horizontal-navigation-container">
    <ul class="horizontal-navigation-list">
        <% horizontal_nav.children.each do |child| %>
          <li>
            <a href="<%=child.path%>" <% if child.active? %>aria-current="page"<% end %>>
              <%=child.title%>
            </a>
          </li>
        <% end %>
    </ul>
  </nav>

  <h2><%=horizontal_nav.title%></h2>

<% end %>
