<% my_pages = Navigation::Sidebar.for(request.path_info) %>

<nav class="site-navigation site-layout__left" aria-label="Site Navigation">
  <div class="sticky-top">
    <ul class="site-navigation-list">
      <% my_pages.pages.each do |page| %>
        <li class="<%= page.active %>">
          <a href="<%=page.path%>" <% if page.active? %>aria-current="page"<% end %>>
            <span class="material-symbols-rounded icon__filled" aria-hidden="true"><%=page.icon_name%></span><span><%=page.title%></span><%= erb :'components/open_in_new', locals: { title: page.title } %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
