<% if past_loans.count == 0 %>

<%= erb :empty_state %>

<% elsif %>

<div class="responsive-table">

<table>
  <caption>
    <div class="caption-flex">
      <p>Showing <span class="strong"><%=past_loans.pagination.first%></span> - <span class="strong"><%=past_loans.pagination.last%></span> of <span class="strong"><%= past_loans.count %></span> items</p>
      <div class="caption-flex loan-controls">
        <%= erb :'components/table_controls', locals: { table_controls: table_controls } %>
        <div class="download-csv">
          <a class="button" href="/past-activity/u-m-library/download.csv">
            Download CSV
          </a>
        </div>
      </div>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Title & author</th>
      <th>Call Number</th>
      <th>Checked Out</th>
      <th>Returned</th>
    </tr>
  </thead>
  <tbody>
    <% past_loans.each do |loan| %>
      <tr>
        <td>
          <a href="#"><%= loan.title %></a>
          <span>&#183; <%= loan.author %></span>
        </td>
        <td>
          <span aria-hidden="true">Call Number:</span>
          <%= loan.call_number %>
        </td>
        <td>
          <span aria-hidden="true">Checked Out:</span>
          <%= loan.checkout_date %>
        </td>
        <td>
          <span aria-hidden="true">Returned:</span>
          <%= loan.return_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= erb :'components/pagination', locals: {pagination: past_loans.pagination, count: past_loans.count} %>
<% end %>
